<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/bootstrap-3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/commonn.css">

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-11.5 col-md-offset-0.5 col-sm-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">修改数据</h3>
                </div>
                <div class="panel-body">
                    {% include "stark/tag.html" %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>